html {
    color: white;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #9e00ff);
    background-size: 120% 120%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
}

.cabecalho .logo {
    width: 120px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid white;
    text-decoration: underline;
    text-align: center;
    line-height: 60px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.cabecalho a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

.cabecalho .menu li a {
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.2s;
}

.cabecalho .menu li a:hover {
    background-color: #9443d8;
    color: white;
    border-radius: 60px;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.home .informacoes p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.home .redes-sociais {
    display: flex;
    gap: 20px;
}

.home .redes-sociais a i {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover {
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.2);
}

.home .container-foto .foto {
    max-width: 450px;
    border-radius: 50%;
}

.home .container-foto img {
    width: 100%;
    border-radius: 50%;
}

.home .foto.sombra-interna {
    background: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.jogos {
    padding: 50px 0;
}

.jogos .titulo {
    text-align: center;
    padding: 70px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.jogos .container-jogos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.jogos .jogo {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.jogos .jogo.ativo {
    display: block;
}

.jogos .jogo img {
    height: 100%;
}

.jogos .jogo h3 {
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.jogos .jogo .informacoes-jogo {
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 800;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.jogos .container-jogos .jogo:hover .informacoes-jogo {
    opacity: 0.8;
    background-color: #000;
}

.btn-mostrar-jogos {
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-mostrar-jogos:hover {
    background-color: #9443d8;
    transition: 0, 3s;
}

.btn-mostrar-jogos.remover {
    display: none;
}

.logo img {
    width: 150px;
}

.rodape {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rodape-texto {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 30px 20px 30px;
}

.lojas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 200px;
}

.lojas a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}


.lojas a:hover {
    background-color: black;
    border: 3px solid #9443d8;
    transition: 0, 3s;
    transform: scale(1.2);
}

.fontes {
    margin-top: 50px;
}

.sites img {

    width: 150px;
    margin: 20px 0 50px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}