@media (max-width: 900px){
    .cabecalho{
        padding: 30px;
    }
    
    .home{
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }
    .home .informacoes{
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .jogos .container-jogos{
        padding: 0 30px;        
    }
}

@media (max-width: 1025px){

    .rodape-texto{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 30px 50px;
        }

    .lojas{
        display: none;
        margin-top: 30px;
    }


    .fontes{
        display: none;
    }

       
}

@media (max-width: 425px){

    .home .informacoes h1{
        font-size: 30px;
    }
    .home .informacoes p{
        font-size: 16px;
    }
    .home .container-foto img{
        max-width: 320px;
    }    
}